* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container {
    width: 100%;
    max-width: 990px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 14px 0; 
}

.table_contents {
    color: #FFFFFF;
    max-width: 962px;
    font-size: 34px;
    line-height: 39px;
}

.span {
    font-family: Roboto;
    font-size: 34px;
    font-weight: 100;
    line-height: 39px;
}

.button {
    width: 71px;
    height: 40px;
    background-color: #16a6af;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    border-radius: 3px;
}

nav { 
    padding: 0 0 10px 0; 
    display: flex; 
    justify-content: center; 
    width: 100%; 
}

.link-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.day {
    width: 124px;
    height: 48px;
    border-radius: 2px;
    background-color: #f8f8f8;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day.selected {
    transform: scale(1.1); 
}

.weekend {
    color: red;
}

.arrow {
    width: 124px;
    height: 48px;
    border-radius: 2px;
    background-color: #f8f8f8;
    margin-top: 5px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контент */
main {
    width: 100%;
    max-width: 990px;
    height: 1028px; 
    margin-top: 30px; 
    display: flex; 
    flex-direction: column; 
}

.custom-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%; 
    max-width: 990px; 
    height: 350px; 
    padding: 15px;
    border-radius: 2px;
    background: #F1EBE6F2;
    margin-bottom: 30px;
}

.movie_info {
    display: flex; 
    align-items: flex-start; 
}

.movie__poster img {
    object-fit: cover; 
}

.movie_description {
    display: flex; 
    flex-direction: column; 
    padding-left: 15px;
}

.heading2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}

.movie__synopsis {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}
.movie__data {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.movie-seances__hall {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 960px;
    height: 63px;
    margin-top: 7px;
}

.heading3 {
    max-width: 960px;
    height: 18px;
    padding-bottom: 30px;
}

.list {
    display: flex;
    max-width: 960px;
    height: 37px;
    padding-bottom: 4px;
    gap: 4px;
}
.item {
    width: 53px;
    height: 33px;
    border-radius: 2px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}